ale_py==0.7.4
gym==0.24.1
gym_donkeycar==1.0.13
highway_env==1.5
matplotlib==3.5.1
networkx==2.6.3
numpy==1.21.6
optuna==2.10.0
panda_gym==1.1.1
pandas==1.1.5
pybullet==3.2.4
pytablewriter==0.64.2
pytest==7.1.2
PyYAML==6.0
rliable==1.0.7
sb3_contrib==1.5.0
scikit_learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
setuptools==60.2.0
stable_baselines3==1.5.0
torch==1.11.0
typeguard==2.13.3
wandb==0.12.16
